* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
  color: #1a1a1a;
}

@media (max-width: 1100px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
