.projectPageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .mainTodoContent {
    width: 60%;
    min-width: 700px;
    max-width: 1000px;
    height: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .intro {
      width: 100%;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        display: flex;
        align-items: center;
        gap: 0.5em;

        font-size: 1.8rem;
        color: #1a1a1a;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;

        .previousPageButton {
          width: 45px;
          height: 45px;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          background-color: #f7f7f7;
          border-radius: 0.5rem;

          transition: 0.2s all;

          span {
            margin-right: 0.1em;
            transition: color 0.1s;
          }

          &:hover {
            background-color: #4f42e7;

            span {
              color: #f1f1f1;
            }
          }
        }
      }

      .deleteButton {
        width: 45px;
        height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;

        transition: background-color 0.2s;

        &:hover {
          background-color: #4f42e7;

          .deleteIcon {
            color: #f1f1f1;
          }
        }

        .deleteIcon {
          transition: color 0.1s;
        }
      }
    }

    .addTodo {
      width: 60%;
      min-width: 500px;
      height: 40px;

      display: flex;
      align-items: center;
      gap: 1em;

      .todoInput {
        width: 72%;
        height: 100%;
        background: none;

        font-size: 1.2rem;
        font-size: 500;
        padding: 0 0.5rem;

        border: 2px solid #a8a8b3;
        border-radius: 8px;

        transition: border-color 0.2s;

        &::placeholder {
          color: #a8a8b3;
        }

        &:focus {
          outline: none;
          border-color: #7e7e86;
        }
      }

      .buttonAddTodo {
        background-color: #4f42e7;
        color: #fff;
        padding: 0 4px 0 0;
        font: 500 16px 'Roboto', sans-serif;
        width: 25%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;

        transition: 0.2s all;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    .todoBox {
      width: 100%;
      height: 70%;
      h3 {
        font: 500 1.2rem 'Roboto', sans-serif;
        margin: 8px 0;
      }

      .todoList {
        width: 100%;
        margin-bottom: 0.5rem;

        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: auto;
        list-style: none;
      }
    }

    .emptyTasks {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.modalBodyText {
  font: 400 1rem 'Roboto', sans-serif;

  p {
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
  }

  span {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.emptyList {
  display: none;
}

@media screen and (max-width: 740px) {
  .projectPageWrapper {
    .mainTodoContent {
      width: 95%;
      min-width: 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .projectPageWrapper {
    .mainTodoContent {
      .addTodo {
        width: 100%;
        min-width: 0;
        gap: 0.5em;

        .todoInput {
          width: 90%;
        }

        .buttonAddTodo {
          width: 2.5em;
          min-width: 0;
          padding: 0 0 0 0.1rem;
          span {
            display: none;
          }
        }
      }
    }
  }
}
