.indexPageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .mainContent {
    width: 80%;
    max-width: 1600px;
    height: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .formWrapper {
      width: 40%;
      min-width: 400px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 15px;

      .input {
        width: 72%;
        height: 100%;

        display: flex;
        align-items: center;
        border: 2px solid #a8a8b3;
        border-radius: 8px;

        transition: border-color 0.2s;

        &:focus-within {
          border-color: #7e7e86;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 42px;
          height: 70%;
          border-right: 2px solid #a8a8b3;
        }

        input[type='text'] {
          width: 100%;
          height: 100%;
          padding: 0 8px;
          background: none;

          font: 400 16px 'Roboto', sans-serif;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #969696;
          }
        }
      }

      button[type='submit'] {
        width: 25%;
        min-width: 100px;
        max-width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px 0 0;

        background: #4f42e7;
        color: #fff;
        border-radius: 8px;
        font: 500 16px 'Roboto', sans-serif;

        transition: 0.2s all;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    .projectsDiv {
      height: 70%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      align-content: start;
      gap: 0.8em;
    }

    .emptyProjects {
      display: flex;
      align-content: center;
    }
  }
}

.ifEmpty {
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  p {
    font: 400 20px 'Roboto', sans-serif;
    color: #afafaf;
  }

  .emptyText {
    text-align: center;
  }
}

@media screen and (max-width: 881px) {
  .indexPageWrapper {
    .mainContent {
      width: 100%;

      .projectsDiv {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      .formWrapper {
        width: 70%;
        max-width: 400px;
        min-width: 350px;
        margin: 0;

        button[type='submit'] {
          width: 5em;
          min-width: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .indexPageWrapper {
    .mainContent {
      .formWrapper {
        .input {
          width: 85%;
        }

        button[type='submit'] {
          width: 2.5em;

          min-width: 10px;

          padding: 0;
          span {
            display: none;
          }
        }
      }

      .projectsDiv {
        .ifEmpty {
          height: 270px;
          .undrawWrapper {
            width: 70%;
            height: 70%;
          }

          .emptyText {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 375px) {
  .indexPageWrapper {
    .mainContent {
      .formWrapper {
        width: 70%;
        min-width: 300px;
        .input {
          span {
            display: none;
          }
        }
      }
    }
  }
}
