.projectBox {
  width: 220px;
  height: 100px;
  background: #ebebeb;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1em;

  transition: 0.2s all;

  .dataWrapper {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projectName {
    font: 500 20px 'Roboto', sans-serif;
    padding: 0 0 4px 0;
  }
  .numberOfTasks {
    font: 400 16px 'Roboto', sans-serif;
    color: #2e2e2e;
  }

  &:hover {
    filter: brightness(0.9);

    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .projectBox {
    width: 200px;
  }
}

@media screen and (max-width: 440px) {
  .projectBox {
    width: 150px;
    height: 150px;
  }
}
